.git
.vs
.vscode
.idea
**/bin
**/obj
**/node_modules
**/__pycache__
**/.pytest_cache
**/.venv
**/venv
**/appsettings.Local.json
*.log
*.err.log
_scratch_pdf_data
deploy
SportsPlatform.Auth.Api/.build
SportsPlatform.Auth.Api/_tmp_api_build
SportsPlatform.Auth.Api/.keys
SportsPlatform.Auth.Api/scripts
SportsPlatform.Auth.Api/wwwroot/eq-master
SportsPlatform.Auth.Api/wwwroot/react_web
SportsPlatform.Auth.Api/wwwroot/uploads
